# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js
.yarn-integrity
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local
.env.*.development
.env.*.test
.env.*.production
coverage/
/build/
.nyc_output/
lib-cov/
.node-persist/
.cache/
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.rts2_cache_systemjs/
.rts2_cache_amd/
.rts2_cache_webpack/
.rts2_cache_rollup/
.rts2_cache_babel/
/dist/
/tmp/
/out/
/log/
/logs/
*.log
*.swp
.DS_Store
.idea/
.vscode/
